.bookDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.bookDetailContainer h2 {
    color: #333;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.bookDetailContainer p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bookDetailContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.bookDetailContainer .comments {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.comments h3 {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.comments p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.comments .comment {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}

.comments .comment:last-child {
    border-bottom: none;
    margin-bottom: 0;
}